window {
  background-color: transparent;
}

#overlay {
  background-color: #11111bcc; /* Catppuccin Mocha Crust */
  padding: 25px 35px;
  border-radius: 20px;
}

.app-icon {
  padding: 10px;
}

.app-icon.selected {
  background-color: #cdd6f418; /* Catppuccin Mocha Text */
  border-radius: 10px;
}

#window-title {
  color: #cdd6f4; /* Catppuccin Mocha Text */
}
